# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# unused photos
public/locations/Gedung Baru/Lantai 1/~unused/A015-nope.jpg
public/locations/Gedung Baru/Lantai 1/~unused/A103-slanted.jpg
public/locations/Gedung Baru/Lantai 1/~unused/A106-person1.jpg
public/locations/Gedung Baru/Lantai 1/~unused/A106-person2.jpg
public/locations/Gedung Baru/Lantai 1/~unused/Secondary Hallway.jpg
public/locations/Gedung Baru/Lantai 2/~unused/Main Hallway.jpg
public/locations/Gedung Baru/Lantai 3/~unused/A301_backup.jpg
public/locations/Gedung Baru/Lantai 3/~unused/Main Hallway.jpg
public/locations/Gedung Baru/Lantai 3/~unused/Secondary Hallway.jpg
public/locations/Gedung Baru/Lantai 4/~unsused/Hallway No. 11 - 16.jpg
public/locations/Gedung Baru/Lantai 4/~unsused/Hallway No. 17 - 22.jpg
public/locations/Gedung Baru/Lantai 4/~unsused/Hallway No. 23 - 32.jpg
public/locations/Gedung Baru/Lantai 4/~unsused/Hallway No. 33 - 37.jpg
public/locations/Gedung Baru/Lantai 4/~unsused/IMG_20250423_165221.jpg
public/locations/Gedung Baru/Lantai 4/~unsused/IMG_20250423_165351_1.jpg
public/locations/Gedung Baru/Lantai 4/~unsused/IMG_20250423_165351.jpg
public/locations/Gedung Baru/Lantai 4/~unsused/IMG_20250423_165433.jpg
public/locations/Gedung Baru/Lantai 4/~unsused/IMG_20250423_170157.jpg
public/locations/Gedung Baru/Lantai 4/~unsused/IMG_20250423_170258.jpg
public/locations/Gedung Baru/Lantai 4/~unsused/IMG_20250423_170300.jpg
public/locations/Gedung Baru/Lantai 4/~unsused/IMG_20250423_170709.jpg
public/locations/Gedung Baru/Lantai 4/~unsused/Main Hallway.jpg
public/locations/Gedung Baru/Lantai 4/~unsused/Toilet Hallway Corner.jpg
public/locations/Gedung Baru/Lantai 4/~unsused/Toilet Hallway.jpg
public/locations/Gedung Baru/Lantai 5/~unused/Hallway A503.jpg
public/locations/Gedung Baru/Lantai 5/~unused/Hallway No. 9 - 16.jpg
public/locations/Gedung Baru/Lantai 5/~unused/Hallway to Toilet.jpg
public/locations/Gedung Baru/Lantai 5/~unused/IMG_20250423_170757.jpg
public/locations/Gedung Baru/Lantai 5/~unused/IMG_20250423_170806.jpg
public/locations/Gedung Baru/Lantai 5/~unused/IMG_20250423_170809.jpg
public/locations/Gedung Baru/Lantai 5/~unused/Main Hallway Entrance.jpg
public/locations/Gedung Baru/Lantai 5/~unused/Main Hallway.jpg
public/locations/Gedung Baru/Lantai 5/~unused/No. 5 - No. 8.jpg
public/locations/Gedung Baru/Lantai 5/~unused/Opposite of Elevator.jpg
public/locations/Gedung Baru/Lantai 5/~unused/Toilet Hallway.jpg
public/locations/Gedung Baru/Lantai 6/~unused/IMG_20250423_171409.jpg
public/locations/Gedung Baru/Lantai 6/~unused/Main Hallway.jpg
public/locations/Gedung Baru/Lantai 6/~unused/No. 3 - 6.jpg
public/locations/Gedung Baru/Lantai 6/~unused/No. 13 - 15.jpg
public/locations/Gedung Baru/Lantai 6/~unused/Toilet Hallway Entrance.jpg
public/locations/Gedung Baru/Lantai 6/~unused/Toilet Hallway.jpg
public/locations/Gedung Baru/Lantai 7/~unused/IMG_20250423_171921.jpg
public/locations/Gedung Baru/Lantai 7/~unused/Main Hallway.jpg
public/locations/Gedung Baru/Lantai 7/~unused/Secondary Hallway.jpg
public/locations/Gedung Baru/Lantai 7/~unused/Toilet Hallway Entrance.jpg
public/locations/Gedung Baru/Lantai 7/~unused/Toilet Hallway.jpg
public/locations/Gedung Baru/Lantai Dasar/~unused/Hallway Akademik.jpg
public/locations/Gedung Baru/Lantai Dasar/~unused/Hallway Back Exit.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/1106_1 - Lab Komputer.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/1106_2 - Lab Komputer.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143022.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143102.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143105.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143106.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143107.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143221.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143227.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143234.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143236.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143249.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143308.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143315.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143326.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143337.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143352.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143419.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143426.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143431.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143433.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143446.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143451.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143452.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143453.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143457.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143516.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143538.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143606.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143610.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_143616.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_145057.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_145100.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_145124.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_145127.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/IMG_20250320_145132.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/Tenda Ijo 1.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/Tenda Ijo 2.jpg
public/locations/Gedung Lama/Gedung A/Lantai 1/~unused/To B 1.jpg
public/locations/Gedung Lama/Gedung A/Lantai 2/~unused/1207 - Wisnu Jatmiko.jpg
public/locations/Gedung Lama/Gedung A/Lantai 2/~unused/East Hallway.jpg
public/locations/Gedung Lama/Gedung A/Lantai 2/~unused/IMG_20250320_143725.jpg
public/locations/Gedung Lama/Gedung A/Lantai 2/~unused/IMG_20250320_143829.jpg
public/locations/Gedung Lama/Gedung A/Lantai 2/~unused/IMG_20250320_143834.jpg
public/locations/Gedung Lama/Gedung A/Lantai 2/~unused/IMG_20250320_143846.jpg
public/locations/Gedung Lama/Gedung A/Lantai 2/~unused/IMG_20250320_143904.jpg
public/locations/Gedung Lama/Gedung A/Lantai 2/~unused/IMG_20250320_143911.jpg
public/locations/Gedung Lama/Gedung A/Lantai 2/~unused/IMG_20250320_144040.jpg
public/locations/Gedung Lama/Gedung A/Lantai 2/~unused/IMG_20250320_144045.jpg
public/locations/Gedung Lama/Gedung A/Lantai 2/~unused/IMG_20250320_144727.jpg
public/locations/Gedung Lama/Gedung A/Lantai 2/~unused/IMG_20250320_144729.jpg
public/locations/Gedung Lama/Gedung A/Lantai 2/~unused/IMG_20250320_144738.jpg
public/locations/Gedung Lama/Gedung A/Lantai 2/~unused/IMG_20250320_144818.jpg
public/locations/Gedung Lama/Gedung A/Lantai 2/~unused/IMG_20250320_144821.jpg
public/locations/Gedung Lama/Gedung A/Lantai 2/~unused/West Hallway.jpg
public/locations/Gedung Lama/Gedung B/Lantai 1 atas/~unused/2117-2B04 - Quiet Room.jpg
public/locations/Gedung Lama/Gedung B/Lantai 1 atas/~unused/IMG_20250320_140513.jpg
public/locations/Gedung Lama/Gedung B/Lantai 1 utama/~unused/Entrance_2.jpg
public/locations/Gedung Lama/Gedung B/Lantai 1 utama/~unused/IMG_20250320_140212.jpg
public/locations/Gedung Lama/Gedung B/Lantai 1 utama/~unused/IMG_20250320_140236.jpg
public/locations/Gedung Lama/Gedung B/Lantai 1 utama/~unused/IMG_20250320_140251.jpg
public/locations/Gedung Lama/Gedung B/Lantai 1 utama/~unused/IMG_20250320_140445.jpg
public/locations/Gedung Lama/Gedung B/Lantai 1 utama/~unused/IMG_20250320_140728.jpg
public/locations/Gedung Lama/Gedung B/Lantai 1 utama/~unused/IMG_20250320_140805.jpg
public/locations/Gedung Lama/Gedung B/Lantai 1 utama/~unused/IMG_20250320_140845.jpg
public/locations/Gedung Lama/Gedung B/Lantai 2/~unused/IMG_20250320_141210.jpg
public/locations/Gedung Lama/Gedung B/Lantai 2/~unused/IMG_20250320_141220.jpg
public/locations/Gedung Lama/Gedung B/Lantai 2/~unused/IMG_20250320_141246.jpg
public/locations/Gedung Lama/Gedung B/Lantai 2/~unused/IMG_20250320_141405.jpg
public/locations/Gedung Lama/Gedung B/Lantai 2/~unused/IMG_20250320_141436.jpg
public/locations/Gedung Lama/Gedung B/Lantai 2/~unused/IMG_20250320_141510.jpg
public/locations/Gedung Lama/Gedung B/Lantai 2/~unused/IMG_20250320_141532.jpg
public/locations/Gedung Lama/Gedung B/Lantai 3/~unused/IMG_20250320_142751.jpg
public/locations/Gedung Lama/Gedung B/Lantai 3/~unused/IMG_20250320_142806.jpg
public/locations/Gedung Lama/Gedung B/Lantai 3/~unused/IMG_20250320_142809.jpg
public/locations/Gedung Lama/Gedung B/Lantai 3/~unused/IMG_20250320_142828.jpg
public/locations/Gedung Lama/Gedung B/Lantai 3/~unused/IMG_20250320_142833.jpg
public/locations/Gedung Lama/Gedung B/Lantai 3/~unused/IMG_20250320_142842.jpg
public/locations/Gedung Lama/Gedung B/Lantai 3/~unused/IMG_20250320_142856.jpg
public/locations/Gedung Lama/Gedung B/Lantai 3/~unused/IMG_20250320_142900.jpg
public/locations/Gedung Lama/Gedung B/Lantai 4/~unused/IMG_20250320_142508.jpg
public/locations/Gedung Lama/Gedung B/Lantai 4/~unused/IMG_20250320_142510.jpg
public/locations/Gedung Lama/Gedung B/Lantai 4/~unused/IMG_20250320_142533.jpg
public/locations/Gedung Lama/Gedung B/Lantai 4/~unused/IMG_20250320_142614.jpg
public/locations/Gedung Lama/Gedung B/Lantai 4/~unused/IMG_20250320_142634.jpg
public/locations/Gedung Lama/Gedung B/Lantai 4/~unused/IMG_20250320_142636.jpg
public/locations/Gedung Lama/Gedung B/Lantai 4/~unused/IMG_20250320_142713.jpg
public/locations/Gedung Lama/Gedung B/Lantai 5/~unused/IMG_20250320_142357.jpg
public/locations/Gedung Lama/Gedung B/Lantai 6/~unused/IMG_20250320_142114.jpg
public/locations/Gedung Lama/Gedung B/Lantai 6/~unused/IMG_20250320_142143.jpg
public/locations/Gedung Lama/Gedung C/Lantai 1/~unused/Entrance_1.jpg
public/locations/Gedung Lama/Gedung C/Lantai 1/~unused/Hallway from Kantin opp..jpg
public/locations/Gedung Lama/Gedung C/Lantai 1/~unused/Hallway from Kantin.jpg
public/locations/Gedung Lama/Gedung C/Lantai 1/~unused/Hallway from Yoshinoya opp..jpg
public/locations/Gedung Lama/Gedung C/Lantai 1/~unused/Hallway from Yoshinoya.jpg
public/locations/Gedung Lama/Gedung C/Lantai 1/~unused/IMG_20250320_133930.jpg
public/locations/Gedung Lama/Gedung C/Lantai 1/~unused/IMG_20250320_133951.jpg
public/locations/Gedung Lama/Gedung C/Lantai 1/~unused/IMG_20250320_134140.jpg
public/locations/Gedung Lama/Gedung C/Lantai 1/~unused/IMG_20250320_134151.jpg
public/locations/Gedung Lama/Gedung C/Lantai 1/~unused/IMG_20250320_134220.jpg
public/locations/Gedung Lama/Gedung C/Lantai 1/~unused/IMG_20250320_134236.jpg
public/locations/Gedung Lama/Gedung C/Lantai 1/~unused/IMG_20250320_134243.jpg
public/locations/Gedung Lama/Gedung C/Lantai 1/~unused/IMG_20250320_134258.jpg
public/locations/Gedung Lama/Gedung C/Lantai 1/~unused/IMG_20250320_134314.jpg
public/locations/Gedung Lama/Gedung C/Lantai 1/~unused/IMG_20250320_134317.jpg
public/locations/Gedung Lama/Gedung C/Lantai 1/~unused/IMG_20250320_134434.jpg
public/locations/Gedung Lama/Gedung C/Lantai 1/~unused/IMG_20250320_134520.jpg
public/locations/Gedung Lama/Gedung C/Lantai 1/~unused/IMG_20250320_134522.jpg
public/locations/Gedung Lama/Gedung C/Lantai 1/~unused/IMG_20250320_134826.jpg
public/locations/Gedung Lama/Gedung C/Lantai 1/~unused/IMG_20250320_134836.jpg
public/locations/Gedung Lama/Gedung C/Lantai 1/~unused/IMG_20250320_134841.jpg
public/locations/Gedung Lama/Gedung C/Lantai 1/~unused/IMG_20250320_134850.jpg
public/locations/Gedung Lama/Gedung C/Lantai 2/~unused/East Hallway.jpg
public/locations/Gedung Lama/Gedung C/Lantai 2/~unused/IMG_20250320_135117.jpg
public/locations/Gedung Lama/Gedung C/Lantai 2/~unused/IMG_20250320_135321.jpg
public/locations/Gedung Lama/Gedung C/Lantai 2/~unused/IMG_20250320_135354.jpg
public/locations/Gedung Lama/Gedung C/Lantai 2/~unused/IMG_20250320_135401.jpg
public/locations/Gedung Lama/Gedung C/Lantai 2/~unused/IMG_20250320_135516.jpg
public/locations/Gedung Lama/Gedung C/Lantai 2/~unused/IMG_20250320_135544.jpg
public/locations/Gedung Lama/Gedung C/Lantai 2/~unused/West Hallway.jpg
public/locations/Gedung Lama/Gedung C/Lantai 3/~unused/East Hallway.jpg
public/locations/Gedung Lama/Gedung C/Lantai 3/~unused/IMG_20250320_135548.jpg
public/locations/Gedung Lama/Gedung C/Lantai 3/~unused/IMG_20250320_135616.jpg
public/locations/Gedung Lama/Gedung C/Lantai 3/~unused/IMG_20250320_135756.jpg
public/locations/Gedung Lama/Gedung C/Lantai 3/~unused/IMG_20250320_135803.jpg
public/locations/Gedung Lama/Gedung C/Lantai 3/~unused/IMG_20250320_135845.jpg
public/locations/Gedung Lama/Gedung C/Lantai 3/~unused/IMG_20250320_135848.jpg
public/locations/Gedung Lama/Gedung C/Lantai 3/~unused/IMG_20250320_135855.jpg
public/locations/Gedung Lama/Gedung C/Lantai 3/~unused/IMG_20250320_135925.jpg
public/locations/Gedung Lama/Gedung C/Lantai 3/~unused/IMG_20250320_135940.jpg
public/locations/Gedung Lama/Gedung C/Lantai 3/~unused/IMG_20250320_135950.jpg
public/locations/Gedung Lama/Gedung C/Lantai 3/~unused/IMG_20250320_140008.jpg
public/locations/Gedung Lama/Gedung C/Lantai 3/~unused/IMG_20250320_140009.jpg
public/locations/Gedung Lama/Gedung C/Lantai 3/~unused/IMG_20250320_140014.jpg
public/locations/Gedung Lama/Gedung C/Lantai 3/~unused/West Hallway.jpg
